@page "/litters/{Id:long}"
@using Basemix.Rats

<div class="d-flex justify-content-between">
    <button class="btn btn-secondary" @onclick="GoBack">
        <span class="oi oi-arrow-left"></span> Back
    </button>
    <button class="btn btn-primary" @onclick="@(() => Nav.NavigateTo($"/litters/{Id}/edit"))">
        <span class="oi oi-pencil"></span> Edit
    </button>
</div>

<hr/>

<h1>@(LitterName())</h1>

<dl class="row">
    <dt class="col-sm-2">Dam</dt>
    <dd class="col-sm-9">
        @if (HasDam)
        {
            <a href="/rats/@Litter.DamId?.Value">@(Litter.DamName ?? "Unnamed Dam")</a>
        }
        else
        {
            <div>
                <button class="btn btn-primary" @onclick="@(() => AddParent(Sex.Doe))">
                    <span class="oi oi-plus"></span>
                </button>
                
                <button class="btn btn-primary" @onclick="OpenDamSearch">
                    <span class="oi oi-magnifying-glass"></span>
                </button>
            </div>
        }
    </dd>
    
    
    <dt class="col-sm-2">Sire</dt>
    <dd class="col-sm-9">
        @if (HasSire)
        {
            <a href="/rats/@Litter.SireId?.Value">@(Litter.SireName ?? "Unnamed Sire")</a>
        }
        else
        {
            <div>
                <button class="btn btn-primary" @onclick="@(() => AddParent(Sex.Buck))">
                    <span class="oi oi-plus"></span>
                </button>
                <button class="btn btn-primary" @onclick="OpenSireSearch">
                    <span class="oi oi-magnifying-glass"></span>
                </button>
            </div>
        }
    </dd>
    
    <dt class="col-sm-2">Date of Birth</dt>
    <dd class="col-sm-9">@(Litter.DateOfBirth?.ToString() ?? "-")</dd>
</dl>

<h2>Offspring</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var rat in Litter.Offspring)
    {
        <tr @onclick="@(() => OpenRatProfile(rat.Id))">
            <td>@rat.Name</td>
        </tr>
    }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="AddOffspring">
    <span class="oi oi-plus"></span>
</button>

<button class="btn btn-primary" @onclick="OpenOffspringSearch">
    <span class="oi oi-magnifying-glass"></span>
</button>

@if (ShowRatSearch)
{
<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Find a rat</h3>
                <button type="button" class="btn btn-close"
                        @onclick="@(() => ShowRatSearch = false)">
                </button>
            </div>
            
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input id="ratSearchInput" type="text" class="form-control" @bind="RatSearchTerm" placeholder="Search for a rat here"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="Search">
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                    </div>
                </div>
                
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Sex</th>
                        <th scope="col">DoB</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var rat in RatSearchResults)
                    {
                        <tr @onclick="@(() => SetResult(rat))">
                            <th scope="row">@(rat.Name ?? "Unnamed")</th>
                            <td>@(rat.Sex.ToString() ?? "-")</td>
                            <td>@(rat.DateOfBirth.ToString() ?? "-")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
