@page "/litters"
@using Basemix.Litters

<div class="d-flex justify-content-between">
    <button class="btn btn-secondary" @onclick="GoBack">
        <span class="oi oi-arrow-left"></span> Back
    </button>
    <button class="btn btn-primary" @onclick="CreateLitter">
        <span class="oi oi-plus"></span> Create
    </button>
</div>

<hr/>

<h1>Litters</h1>

<p>Click any litter to view details.</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">DoB</th>
        <th scope="col">Dam</th>
        <th scope="col">Sire</th>
        <th scope="col"># of rats</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var litter in LitterList)
    {
        <tr @onclick="@(() => OpenLitterProfile(litter.Id))">
            <th scope="row">@(litter.DateOfBirth?.ToString() ?? "-")</th>
            <td>@(litter.Dam ?? "-")</td>
            <td>@(litter.Sire ?? "-")</td>
            <td>@litter.OffspringCount</td>
        </tr>
    }
    </tbody>
</table>
