@page "/rats/{Id:long}"
@using Basemix.Rats

<div class="d-flex justify-content-between">
    <button class="btn btn-secondary" @onclick="GoBack">
        <span class="oi oi-arrow-left"></span> Back
    </button>
    <button class="btn btn-primary" @onclick="@(() => Nav.NavigateTo($"/rats/{Id}/edit"))">
        <span class="oi oi-pencil"></span> Edit
    </button>
</div>

<hr/>

<h1>@Rat.Name</h1>

<dl class="row">
    <dt class="col-sm-2">Date of Birth</dt>
    <dd class="col-sm-9">@Rat.DateOfBirth</dd>
    
    <dt class="col-sm-2">Sex</dt>
    <dd class="col-sm-9">@Rat.Sex</dd>
    
    @if (!string.IsNullOrEmpty(Rat.Notes))
    {
        <dt class="col-sm-2">Notes</dt>
        <dd class="col-sm-9">
            @foreach (var line in Rat.Notes.Split("\n"))
            {
                <p>@line</p>
            }
        </dd>
    }
</dl>

<h2>Litters</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">DoB</th>
        <th scope="col">
            @(Rat.Sex switch
            {
                Sex.Buck => "Dam",
                Sex.Doe => "Sire",
                _ => "Paired with"
            })
        </th>
        <th scope="col"># of rats</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var litter in Rat.Litters)
    {
        <tr @onclick="@(() => OpenLitterProfile(litter.Id))">
            <th scope="row">@(litter.DateOfBirth?.ToString() ?? "-")</th>
            <td>@(litter.PairedWith ?? "-")</td>
            <td>@litter.OffspringCount</td>
        </tr>
    }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="NewLitter">
    <span class="oi oi-plus"></span> Create litter
</button>
