@page "/litters/{Id:long}/edit"
@using Microsoft.AspNetCore.Components
@using Basemix.Lib.Rats

@if (!LitterLoaded)
{
    <BackButton />
    <hr />
    <NoLitter />
}
else
{
    <SaveHeader OnSave="Save" />

    <h1>@("Editing " + LitterName())</h1>
    <dl class="row">
        <dt class="col-sm-2">Dam</dt>
        <dd class="col-sm-9">
            @if (this.HasDam)
            {
                <div>
                    <a href="/rats/@this.Litter.DamId?.Value/edit">@(this.Litter.DamName ?? "Unnamed Dam")</a>
                    <button class="btn btn-danger" @onclick="@(() => this.RemoveParent(Sex.Doe))">
                        <span class="oi oi-circle-x"></span> Remove Dam
                    </button>
                </div>
            }
            else
            {
                <AddOrSearchButtons OnAdd="@(() => AddParent(Sex.Doe))" OnSearch="OpenDamSearch" />
            }
        </dd>
        
        
        <dt class="col-sm-2">Sire</dt>
        <dd class="col-sm-9">
            @if (this.HasSire)
            {
                <div>
                    <a href="/rats/@this.Litter.SireId?.Value/edit">@(this.Litter.SireName ?? "Unnamed Sire")</a>
                    <button class="btn btn-danger" @onclick="@(() => this.RemoveParent(Sex.Buck))">
                        <span class="oi oi-circle-x"></span> Remove Sire
                    </button>
                </div>
            }
            else
            {
                <AddOrSearchButtons OnAdd="@(() => AddParent(Sex.Buck))" OnSearch="OpenSireSearch" />
            }
        </dd>
        
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-9">
            <input required class="form-control" type="date" id="dateOfBirthInput" @bind="this.Litter.DateOfBirth"/>
        </dd>
    </dl>

    <h2>Offspring</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var rat in this.Litter.Offspring)
        {
            <tr @onclick="@(() => this.EditOffspring(rat.Id))">
                <td>@rat.Name</td>
                <td>
                    <button class="btn btn-danger" @onclick="(() => this.RemoveOffspring(rat))">
                        <span class="oi oi-circle-x"></span> Remove from litter
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <AddOrSearchButtons OnAdd="AddOffspring" OnSearch="OpenOffspringSearch" />

    <SaveDeleteFooter OnDelete="Delete" OnSave="Save"/>
}

@if (ShowRatSearch)
{
<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Find a rat</h3>
                <button type="button" class="btn btn-close"
                        @onclick="@(() => ShowRatSearch = false)">
                </button>
            </div>
            
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input id="ratSearchInput" type="text" class="form-control" @bind="RatSearchTerm" placeholder="Search for a rat here"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="Search">
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                    </div>
                </div>
                
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Sex</th>
                        <th scope="col">DoB</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var rat in RatSearchResults)
                    {
                        <tr @onclick="@(() => SetResult(rat))">
                            <th scope="row">@(rat.Name ?? "Unnamed")</th>
                            <td>@(rat.Sex.ToString() ?? "-")</td>
                            <td>@(rat.DateOfBirth.ToString() ?? "-")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
