@page "/rats/{Id:long}/edit"
@using Basemix.Lib.Rats


@if (!RatLoaded)
{
    <BackButton />
    <hr />
    <NoRat />
}
else
{
    <SaveHeader OnSave="SaveAndGoBack"/>

    <h1>Editing @RatForm.Name</h1>

    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-9">
            <input required class="form-control" @bind="RatForm.Name"/>
        </dd>
        
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-9">
            <input required class="form-control" type="date" id="dateOfBirthInput" @bind="RatForm.DateOfBirth"/>
        </dd>
        
        <dt class="col-sm-2">Date of Death</dt>
        <dd class="col-sm-9">
            <input required class="form-control" type="date" id="dateOfBirthInput" @bind="RatForm.DateOfDeath"/>
        </dd>
        
        <dt class="col-sm-2">Sex</dt>
        <dd class="col-sm-9">
            <select required id="sexInput" @bind="RatForm.Sex">
                <option value="">-</option>
                <option value="Buck">Buck</option>
                <option value="Doe">Doe</option>
            </select>
        </dd>
        
        <dt class="col-sm-2">Variety</dt>
        <dd class="col-sm-9">
            <input class="form-control" @bind="RatForm.Variety"/>
        </dd>
        
        <dt class="col-sm-2">Notes</dt>
        <dd class="col-sm-9">
            <textarea style="box-sizing: border-box;width: 100%" wrap="hard" id="notesInput" rows="5" @bind="RatForm.Notes"></textarea>
        </dd>
    </dl>

    <h2>Litters</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">DoB</th>
            <th scope="col">
                @(Rat.Sex switch
                {
                    Sex.Buck => "Dam",
                    Sex.Doe => "Sire",
                    _ => "Paired with"
                })
            </th>
            <th scope="col"># of rats</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var litter in Rat.Litters)
        {
            <tr onclick="@(() => this.EditLitter(litter.Id))">
                <th scope="row">@(litter.DateOfBirth?.ToString() ?? "-")</th>
                <td>@(litter.PairedWith ?? "Unnamed")</td>
                <td>@litter.OffspringCount</td>
            </tr>
        }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="NewLitter" disabled="@DisableCreateLitter">
        <span class="oi oi-plus"></span> Create litter
    </button>

    <SaveDeleteFooter OnSave="SaveAndGoBack" OnDelete="DeleteRat"/>
}
