@page "/rats/{Id:long}/edit"
@using Basemix.Lib
@using Basemix.Lib.Rats
@using Basemix.Lib.Settings.Persistence


@if (!RatLoaded)
{
    <BackButton/>
    <hr/>
    <NoRat/>
}
else
{
    <SaveHeader OnSave="SaveAndGoBack"/>

    <h1>Editing @RatForm.Name</h1>

    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-9">
            <input required class="form-control" @bind="RatForm.Name"/>
        </dd>

        @if (Rat.OwnerId == null)
        {
            <dt class="col-sm-2">Owned by me</dt>
            <dd class="col-sm-9">
                <input required type="checkbox" @bind="RatForm.Owned"/>
            </dd>
        }
        
        @if (!RatForm.Owned)
        {
            <dt class="col-sm-2">Owner</dt>
            <dd class="col-sm-9">
                @if (this.Rat.OwnerId != null)
                {
                    <div>
                        <a href="/owners/@Rat.OwnerId?.Value/edit">@(Rat.OwnerName ?? "Unnamed Owner")</a>
                        <button class="btn btn-danger" @onclick="@RemoveOwner">
                            <span class="oi oi-circle-x"></span> Remove Owner
                        </button>
                    </div>
                }
                else
                {
                    <AddOrSearchButtons OnAdd="AddOwner" OnSearch="OpenOwnerSearch"/>
                }
            </dd>
        }

        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-9">
            <input required class="form-control" type="date" id="dateOfBirthInput" @bind="RatForm.DateOfBirth"/>
        </dd>
        
        <dt class="col-sm-2">Dead</dt>
        <dd class="col-sm-9">
            <input required type="checkbox" @bind="RatForm.Dead"/>
        </dd>
        
        @if (RatForm.Dead)
        {
            <dt class="col-sm-2">Date of Death</dt>
            <dd class="col-sm-9">
                <input class="form-control" type="date" id="dateOfDeathInput" @bind="RatForm.DateOfDeath"/>
            </dd>

            <dt class="col-sm-2">Cause of Death</dt>
            <dd class="col-sm-9">
                <select id="causeOfDeathInput" @bind="RatForm.DeathReasonId">
                    <option value="">-</option>
                    @foreach (var reason in DeathReasonOptions)
                    {
                        <option value="@reason.Id">@reason.Reason</option>
                    }
                </select>
            </dd>
        }

        <dt class="col-sm-2">Sex</dt>
        <dd class="col-sm-9">
            <select id="sexInput" @bind="RatForm.Sex">
                <option value="">-</option>
                <option value="Buck">Buck</option>
                <option value="Doe">Doe</option>
            </select>
        </dd>

        <dt class="col-sm-2">Variety</dt>
        <dd class="col-sm-9">
            <input class="form-control" @bind="RatForm.Variety"/>
        </dd>

        <dt class="col-sm-2">Notes</dt>
        <dd class="col-sm-9">
            <textarea style="box-sizing: border-box;width: 100%" wrap="hard" id="notesInput" rows="5" @bind="RatForm.Notes"></textarea>
        </dd>
    </dl>

    <h2>Litters</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">DoB</th>
            <th scope="col">
                @(Rat.Sex switch
                {
                    Sex.Buck => "Dam",
                    Sex.Doe => "Sire",
                    _ => "Paired with"
                    })
            </th>
            <th scope="col"># of rats</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var litter in Rat.Litters)
        {
            <tr onclick="@(() => this.EditLitter(litter.Id))">
                <th scope="row">@(litter.DateOfBirth.ToLocalizedString())</th>
                <td>@(litter.PairedWith ?? "Unnamed")</td>
                <td>@litter.OffspringCount</td>
            </tr>
        }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="NewLitter" disabled="@DisableCreateLitter">
        <span class="oi oi-plus"></span> Create litter
    </button>

    <SaveDeleteFooter OnSave="SaveAndGoBack" OnDelete="DeleteRat"/>
}

@if (ShowOwnerSearch)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Find an Owner</h3>
                    <button type="button" class="btn btn-close"
                            @onclick="@(() => ShowOwnerSearch = false)">
                    </button>
                </div>

                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input id="ratSearchInput" type="text" class="form-control" @bind="OwnerSearchTerm" placeholder="Search for an owner here"/>
                        <div class="input-group-append">
                            <button class="btn btn-primary" @onclick="SearchOwner">
                                <span class="oi oi-magnifying-glass"></span>
                            </button>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var owner in OwnerSearchResults)
                        {
                            <tr @onclick="@(() => SetResult(owner))">
                                <th scope="row">@(owner.Name ?? "Unnamed")</th>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
