@page "/litters/{Id:long}"
@using Basemix.Lib.Rats

@if (!LitterLoaded)
{
    <BackButton />
    <hr />
    <NoLitter />
}
else
{
    <EditHeader OnEdit="@(() => Nav.NavigateTo($"/litters/{Id}/edit"))"/>

    <h1>@(LitterName())</h1>

    <dl class="row">
        <dt class="col-sm-2">Dam</dt>
        <dd class="col-sm-9">
            @if (HasDam)
            {
                <a href="/rats/@Litter.DamId?.Value">@(Litter.DamName ?? "Unnamed Dam")</a>
            }
            else
            {
                <AddOrSearchButtons OnAdd="@(() => AddParent(Sex.Doe))" OnSearch="OpenDamSearch"/>
            }
        </dd>


        <dt class="col-sm-2">Sire</dt>
        <dd class="col-sm-9">
            @if (HasSire)
            {
                <a href="/rats/@Litter.SireId?.Value">@(Litter.SireName ?? "Unnamed Sire")</a>
            }
            else
            {
                <AddOrSearchButtons OnAdd="@(() => AddParent(Sex.Buck))" OnSearch="OpenSireSearch"/>
            }
        </dd>

        <dt class="col-sm-2">Date of Pairing</dt>
        <dd class="col-sm-9">@(Litter.DateOfPairing?.ToString("dd/MM/yyyy") ?? "-")</dd>
        
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-9">@(Litter.DateOfBirth?.ToString("dd/MM/yyyy") ?? "-")</dd>
        
        @if (!string.IsNullOrEmpty(Litter.Notes))
        {
            <dt class="col-sm-2">Notes</dt>
            <dd class="col-sm-9">
                @foreach (var line in Litter.Notes.Split("\n"))
                {
                    <p>@line</p>
                }
            </dd>
        }
    </dl>
    
    @if (Estimates.IsRelevant(Now))
    {
        <h2>Estimates</h2>
        <dl class="row">
            @if (Estimates.EarliestDateOfBirth.HasValue)
            {
                <dt class="col-sm-2">Earliest Birth</dt>
                <dd class="col-sm-9">@(Estimates.EarliestDateOfBirth.Value.ToString("dd/MM/yyyy"))</dd>
            }
            @if (Estimates.LatestDateOfBirth.HasValue)
            {
                <dt class="col-sm-2">Latest Birth</dt>
                <dd class="col-sm-9">@(Estimates.LatestDateOfBirth.Value.ToString("dd/MM/yyyy"))</dd>
            }
            @if (Estimates.EarliestFullyWeanedDate.HasValue)
            {
                <dt class="col-sm-2">Weaned after</dt>
                <dd class="col-sm-9">@(Estimates.EarliestFullyWeanedDate.Value.ToString("dd/MM/yyyy"))</dd>
            }
            @if (Estimates.EarliestSeparateSexesDate.HasValue)
            {
                <dt class="col-sm-2">Separate sexes after</dt>
                <dd class="col-sm-9">@(Estimates.EarliestSeparateSexesDate.Value.ToString("dd/MM/yyyy"))</dd>
            }
            @if (Estimates.EarliestRehomeDate.HasValue)
            {
                <dt class="col-sm-2">Rehome after</dt>
                <dd class="col-sm-9">@(Estimates.EarliestRehomeDate.Value.ToString("dd/MM/yyyy"))</dd>
            }
        </dl>
    }

    <h2>Offspring</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var rat in Litter.Offspring)
        {
            <tr @onclick="@(() => OpenRatProfile(rat.Id))">
                <td>@(rat.Name ?? "Unnamed")</td>
                <td>@rat.OwnerName</td>
            </tr>
        }
        </tbody>
    </table>

    <AddOrSearchButtons OnAdd="AddOffspring" OnSearch="OpenOffspringSearch"/>
}

<RatSearchModal
    ShowSearch="@ShowRatSearch"
    SearchTerm="@RatSearchTerm"
    OnSearch="@Search"
    OnResultSet="@SetResult"
    SearchResults="@RatSearchResults"/>
