@page "/rats/{Id:long}"
@using Basemix.Lib.Rats

@if (!RatLoaded)
{
    <BackButton/>
    <hr/>
    <NoRat/>
}
else
{
    <EditHeader OnEdit="@(() => Nav.NavigateTo($"/rats/{Id}/edit"))"/>

    <h1>@Rat.Name</h1>

    <dl class="row">
        @if (Rat.DateOfBirth.HasValue)
        {
            <dt class="col-sm-2">Date of Birth</dt>
            <dd class="col-sm-9">@Rat.DateOfBirth</dd>

            @if (!RatTooOld)
            {
                <dt class="col-sm-2">Age</dt>
                @if (RatIsSenior)
                {
                    <dd class="col-sm-9">
                        @RatAge<br/><sub>Age will not be calculated after 4 years unless date of death is set</sub>
                    </dd>
                }
                else
                {
                    <dd class="col-sm-9">@RatAge</dd>
                }
            }
        }

        @if (Rat.DateOfDeath.HasValue)
        {
            <dt class="col-sm-2">Date of Death</dt>
            <dd class="col-sm-9">@Rat.DateOfDeath</dd>
        }

        <dt class="col-sm-2">Sex</dt>
        <dd class="col-sm-9">@Rat.Sex</dd>

        <dt class="col-sm-2">Variety</dt>
        <dd class="col-sm-9">@Rat.Variety</dd>

        @if (!string.IsNullOrEmpty(Rat.Notes))
        {
            <dt class="col-sm-2">Notes</dt>
            <dd class="col-sm-9">
                @foreach (var line in Rat.Notes.Split("\n"))
                {
                    <p>@line</p>
                }
            </dd>
        }
    </dl>

    <h2>Litters</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">DoB</th>
            <th scope="col">
                @(Rat.Sex switch
                {
                    Sex.Buck => "Dam",
                    Sex.Doe => "Sire",
                    _ => "Paired with"
                    })
            </th>
            <th scope="col"># of rats</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var litter in Rat.Litters)
        {
            <tr @onclick="@(() => OpenLitterProfile(litter.Id))">
                <th scope="row">@(litter.DateOfBirth?.ToString() ?? "-")</th>
                <td>@(litter.PairedWith ?? "-")</td>
                <td>@litter.OffspringCount</td>
            </tr>
        }
        </tbody>
    </table>

    <button style="margin-top: 10px;margin-bottom: 10px" class="btn btn-primary" @onclick="NewLitter">
        <span class="oi oi-plus"></span> Create litter
    </button>

    <h2>Pedigree</h2>

    <button style="margin-top: 10px;margin-bottom: 10px" class="btn btn-primary" @onclick="@(() => ShowPdfExport = true)">Export as PDF</button>

    @if (ExportSuccess is true)
    {
        <div class="alert alert-success" role="alert">
            Export successful!
        </div>
    }
    else if (ExportSuccess is false)
    {
        <div class="alert alert-danger" role="alert">
            Export failed! Check the "settings" page to find the error details and send them to Rory.
        </div>
    }
    
    @if (!PedigreeLoaded)
    {
        <NoPedigree/>
    }
    else
    {
        <PedigreeTable Rat="Pedigree"/>
    }
}

@if (ShowPdfExport)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Generate Pedigree</h3>
                    <button type="button" class="btn btn-close"
                            @onclick="@(() => ShowPdfExport = false)">
                    </button>
                </div>

                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-4">Rattery Name</dt>
                        <dd class="col-sm-9">
                            <input id="ratteryNameInput" type="text" class="form-control" @bind="PedigreeContext.RatteryName"/>
                        </dd>

                        <dt class="col-sm-4">Litter Name</dt>
                        <dd class="col-sm-9">
                            <input id="litterNameInput" type="text" class="form-control" @bind="LitterName"/>
                        </dd>

                        <dt class="col-sm-4">Footer Text</dt>
                        <dd class="col-sm-9">
                            <input id="footerTextInput" type="text" class="form-control" @bind="PedigreeContext.FooterText"/>
                        </dd>

                        <dt class="col-sm-4">Show Sex</dt>
                        <dd class="col-sm-9">
                            <input type="checkbox" class="form-check-input" id="showSexCheckbox" @bind="@PedigreeContext.ShowSex"/>
                        </dd>
                    </dl>

                    <button class="btn btn-primary" @onclick="ExportPdfPedigree">Generate and save</button>
                </div>
            </div>
        </div>
    </div>
}