@page "/rats/{Id:long}"
@using Basemix.Lib.Rats

@if (!RatLoaded)
{
    // TODO
    <BackButton/>
    <hr/>
    <NoRat/>
}
else
{
    <EditHeader OnEdit="@(() => Nav.NavigateTo($"/rats/{Id}/edit"))"/>

    <MudPaper Class="mx-10" Elevation="0" Outlined="false">

        <MudText Typo="Typo.h3">
            @Rat.Name
        </MudText>

        <MudSimpleTable Class="ma-2 pa-2" Dense="true" Elevation="2" >
            <tbody>
            @if (Rat.OwnerId != null)
            {
                <ProfileRow Title="Owned by">
                    <MudLink Href="@($"/owners/{Rat.OwnerId?.Value}")">@(Rat.OwnerName ?? "Unnamed Owner")</MudLink>
                </ProfileRow>
            }

            @if (Rat.DateOfBirth.HasValue)
            {
                <ProfileRow Title="Date of Birth">
                    @Rat.DateOfBirth
                </ProfileRow>

                @if (!RatTooOld)
                {
                    <ProfileRow Title="Age">
                        @if (RatIsSenior)
                        {
                            @RatAge<br/>
                            <sub>Age will not be calculated after 4 years unless date of death is set</sub>
                        }
                        else
                        {
                            @RatAge
                        }
                    </ProfileRow>
                }
            }

            @if (Rat.DateOfDeath.HasValue)
            {
                <ProfileRow Title="Date of Death">
                    @Rat.DateOfDeath
                </ProfileRow>
            }

            @if (Rat.DeathReason != null)
            {
                <ProfileRow Title="Cause of Death">
                    @Rat.DeathReason.Reason
                </ProfileRow>
            }

            <ProfileRow Title="Sex">
                @Rat.Sex
            </ProfileRow>

            <ProfileRow Title="Variety">
                @Rat.Variety
            </ProfileRow>

            @if (!string.IsNullOrEmpty(Rat.Notes))
            {
                <ProfileRow Title="Notes">
                    @foreach (var line in Rat.Notes.Split("\n"))
                    {
                        <p>@line</p>
                    }
                </ProfileRow>
            }
            </tbody>
        </MudSimpleTable>

        <MudText Typo="Typo.h4">
            Litters
        </MudText>

        <MudTable T="RatLitter" Items="Rat.Litters" Hover="true" RowClass="cursor-pointer"
                  OnRowClick="@(e => OpenLitterProfile(e.Item?.Id ?? throw new Exception("Bad")))">
            <HeaderContent>
                <MudTh>DoB</MudTh>
                <MudTh>
                    @(Rat.Sex switch
                    {
                        Sex.Buck => "Dam",
                        Sex.Doe => "Sire",
                        _ => "Paired with"
                    })
                </MudTh>
                <MudTh># of rats</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@(context.DateOfBirth?.ToString() ?? "-")</MudTd>
                <MudTd>@(context.PairedWith ?? "-")</MudTd>
                <MudTd>@context.OffspringCount</MudTd>
            </RowTemplate>
        </MudTable>
        
        <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Secondary" Variant="Variant.Filled" OnClick="NewLitter">
            Create Litter
        </MudButton>

        <MudText Typo="Typo.h4">
            Pedigree
        </MudText>

        <button style="margin-top: 10px;margin-bottom: 10px" class="btn btn-primary" @onclick="@(() => ShowPdfExport = true)">Export as PDF</button>

        @if (ExportSuccess is true)
        {
            <div class="alert alert-success" role="alert">
                Export successful!
            </div>
        }
        else if (ExportSuccess is false)
        {
            <div class="alert alert-danger" role="alert">
                Export failed! Check the "settings" page to find the error details and send them to Rory.
            </div>
        }

        @if (!PedigreeLoaded)
        {
            <NoPedigree/>
        }
        else
        {
            <PedigreeTable Rat="Pedigree"/>
        }

    </MudPaper>
}

@if (ShowPdfExport)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Generate Pedigree</h3>
                    <button type="button" class="btn btn-close"
                            @onclick="@(() => ShowPdfExport = false)">
                    </button>
                </div>

                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-4">Rattery Name</dt>
                        <dd class="col-sm-9">
                            <input id="ratteryNameInput" type="text" class="form-control" @bind="PedigreeContext.RatteryName"/>
                        </dd>

                        <dt class="col-sm-4">Litter Name</dt>
                        <dd class="col-sm-9">
                            <input id="litterNameInput" type="text" class="form-control" @bind="LitterName"/>
                        </dd>

                        <dt class="col-sm-4">Footer Text</dt>
                        <dd class="col-sm-9">
                            <input id="footerTextInput" type="text" class="form-control" @bind="PedigreeContext.FooterText"/>
                        </dd>

                        <dt class="col-sm-4">Show Sex</dt>
                        <dd class="col-sm-9">
                            <input type="checkbox" class="form-check-input" id="showSexCheckbox" @bind="@PedigreeContext.ShowSex"/>
                        </dd>
                    </dl>

                    <button class="btn btn-primary" @onclick="ExportPdfPedigree">Generate and save</button>
                </div>
            </div>
        </div>
    </div>
}